/* all */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    overflow-x:hidden;
    overflow-y:auto;
}

.all {
    width: 1912px;
    height: 5000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}



/* header */

header {
    width: 100%;
    height: 100px;
    background-color: #11111f;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    right: 0;

}

.global_menu {
    width: 1400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.global_menu > a {
    width: 20%;
}

.global_menu > a img {
    width: 100%;
}

.menu {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-bottom: #11111f 3px solid;
    transition: .75s;
}

.menu a:hover {
    border-bottom: #ffc600 3px solid;
}

.sign {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sign a {
    color: #ff8800;
    font-size: 14px;
    font-weight: bold;
}



/* section */

section {
    margin-top: 100px;
}

/* main slide */

[name="slide"] {
    display: none;
}

.main_slide {
    width: 100%;
    height: 880px;
    margin: 0 auto;
}

.slide_img {
    width: 1912px;
    height: 880px;
    filter: blur(5px);
}

.imgRb {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 250px;
    z-index: 1;
}

.main_slide .slide_list {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slide_item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.main_slide .slide_item label {
    width: 100px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 25%;
    filter: saturate(50%) brightness(25%);
    transition: .5s;
    cursor: pointer;
}

label.left {
    left: 100px;
    background-image: url('../img/arrow_left.png');
    background-position: center center;
    background-size: 75%;
    background-repeat: no-repeat;
}

label.right {
    right: 100px;
    background-image: url('../img/arrow_right.png');
    background-position: center center;
    background-size: 75%;
    background-repeat: no-repeat;
}

label.left:hover {
    filter: saturate(100%) brightness(100%);
}

label.right:hover {
    filter: saturate(100%) brightness(100%);
}

[id="slideA"]:checked ~ .slide_list .slide_item {
    transform: translateX(0);
}

[id="slideB"]:checked ~ .slide_list .slide_item {
    transform: translateX(-100%);
}

[id="slideC"]:checked ~ .slide_list .slide_item {
    transform: translateX(-200%);
}

@keyframes slideA {
    0% {
        left: 0%;
    }
    30% {
        left: 0%;
    }
    33% {
        left: -100%;
    }
    63% {
        left: -100%;
    }
    66% {
        left: -200%;
    }
    98% {
        left: -200%;
    }
    100% {
        left: 0%;
    }
}

[id="slideA"]:checked ~ .slide_list .slide_item {
    transform: translateX(0);
    animation: slideA 15s infinite;
}

@keyframes slideB {
    0% {
        left: 0%;
    }
    30% {
        left: 0%;
    }
    33% {
        left: -100%;
    }
    63% {
        left: -100%;
    }
    66% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

[id="slideB"]:checked ~ .slide_list .slide_item {
    transform: translateX(-100%);
    animation: slideB 15s infinite;
}

@keyframes slideC {
    0% {
        left: 0%;
    }
    30% {
        left: 0%;
    }
    33% {
        left: 200%;
    }
    63% {
        left: 200%;
    }
    66% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

[id="slideC"]:checked ~ .slide_list .slide_item {
    transform: translateX(-200%);
    animation: slideC 15s infinite;
}